body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: grey;
    background-color: black;
}
#scheduleContainer{
    width: 50%;
    height: 70%;
    display: inline-block;
}
.schedule{
    display: inline-block;
    border: 1px solid grey;;
    width: 18%;
    height: 100%;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: grey;
} 
.cell {
    text-align: center;
    width: 100%;
    height: 100%;        
}
h1 {
    width: 33% ;
}
.headline {
    display: inline-block; 
    width: 32%;    
}
h4{
    margin-top: 10%;
    margin-bottom: 0;
}

hr {
    color: grey;

}   